.mainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quoteContainer {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: 20px;
  position: relative;
}

.quote {
  font-size: 1.5rem;
  color: #343a40;
  margin: 20px 0;
}

.quoteIcon {
  font-size: 2rem;
  color: #ff7e5f;
}

.author {
  font-size: 1.2rem;
  color: #495057;
  margin-top: 10px;
  font-style: italic;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  background-color: #ff7e5f;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #feb47b;
}

.icon {
  margin-right: 8px;
}
