.footer {
  background-color: #343a40;
  color: white;
  height: 3rem;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: large;
  font-weight: bold;
  padding-top: 0.5rem;
}
